body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #B1A296;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

#mainChessBoard {
    width: 55vw;
    height: 55vw;
    border: 2px solid black;
}

.grid {
    width: 12.5%;
    height: 12.5%;
    float: left;
}